
// Container
.cr3 {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

//Card
.cardr3 {
    width: 600px;
    padding: 20px;
    border: none;
    margin: 50px 10px 10px 10px;
}

.form-control {
    text-indent: 16px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(60,60,75);
    outline: 0;
    box-shadow: none
}

.inputbox {
    margin-bottom: 25px;
    margin-top: 25px;
    position: relative;
}

.inputbox i {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #dadada
}

.form-check-label {
    font-size: 13px;
    width: 400px;
    font-style: oblique;
}

.form-check {
    cursor: pointer
}

.btn-primary {
    color: #fff;
    background-color: rgb(150,0,0);
    border-color: rgb(150,0,0);
}