body {
    background-color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 800px;
    padding: 20px;
    border: none;
    margin: 50px 10px 10px 10px;
}

.form-control {
    text-indent: 16px
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: rgb(60,60,75);
    outline: 0;
    box-shadow: none
}

.inputbox {
    margin-bottom: 10px;
    position: relative
}

.inputbox i {
    position: absolute;
    left: 8px;
    top: 12px;
    color: #dadada
}

.form-check-label {
    font-size: 13px;
    width: 400px;
    font-style: oblique;
}

.form-check-input {
    width: 14px;
    height: 15px;
    margin-top: 5px
}

.forgot {
    font-size: 14px;
    text-decoration: none;
}

.mail {
    color: rgb(150,0,0);
    text-decoration: none
}

.form-check {
    cursor: pointer
}

.btn-primary {
    color: #fff;
    background-color: rgb(150,0,0);
    border-color: rgb(150,0,0);
}

// Abajo esta el codigo del toogle button

.container {
	text-align: center;
	margin-top: 15px;
}

.toggle-container {
	margin-bottom: 0px;
}

.switch {
	position: relative;
	display: inline-block;
	width: 45px;
	height: 24px;
	box-shadow: 0px 0px 5px #888888;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 2px;
	bottom: 2px;
	background-color: gray;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: rgb(15,160,0);
}

input:checked + .slider {
	background-color: rgb(15,160,0);
}

input:checked + .slider:before {
	background-color: white;
}

input:checked + .slider:before {
	-webkit-transform: translateX(21px);
	-ms-transform: translateX(21px);
	transform: translateX(21px);
}

input:checked + .slider.half:before {
	border-radius: 50%;
}

/* Rounded sliders */
.switch.round,
.slider.round {
	border-radius: 5000px;
}

.slider.round:before {
	border-radius: 50%;
}

.switch.half,
.slider.half {
	border-radius: 0 5000px 5000px 0;
}