*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.carousel-item .homecarousel img{
width: 70%;
height: 100%;
}

.jumbohome {
background-image: url("../img/frutasvarias.jpg");
background-size: cover;
height: 100%;
}